/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
.pd-editor-related-posts-wrapper > * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.pd-related-posts-setting {
	border-top: 1px solid rgb(221, 221, 221);
	padding: 0 16px;
	padding-bottom: 16px;
}

.pd-related-posts-setting-heading {
	text-transform: capitalize;
	font-weight: 500;
	font-size: 13px;
}

.pd-editor-related-posts {
	margin: 1rem 0;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.pd-editor-related-post__thumbnail {
	height: 250px;
	width: 250px;
	background-color: rgb(177, 177, 177);
}

.pd-editor-related-post__title {
	margin-top: 12px;
}
